* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f1f1f1;
  min-width: 320px;
  margin: 0;
  font-family: 'Poppins';
  font-size: 14px;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: block;
}
