/* google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
/* :root {
  --primary: #678ed1;
}
body {
  background: #f1f1f1;
  min-width: 320px;
  margin: 0;
  font-family: 'Poppins';
  font-size: 14px;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: block;
}
header {
  background: #fff;
}
header .nav-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-right: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

header .nav-title {
  margin: 0;
  padding: 0;
  padding: 20px 0px 10px 20px;
}

header .nav-text {
  margin-top: 10px;
  min-width: 200px;
}

header .inline {
  display: inline;
  font-size: larger;
}

header h1 {
  margin: 0;
  color: var(--primary);
}
header .user-profile {
  display: flex;
  flex-direction: column;
}

header .user-circle {
  font-size: 1.5rem;
  align-self: flex-end;
}

header .login-logout-container {
  cursor: pointer;
}

Link {
  text-decoration: none;
} */
/* .pages {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
} */

/* homepage */
/* .home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 0.8fr));
  grid-gap: 20rem;
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;} */

/* .book-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.book-card img {
  max-width: 200px;
  max-height: 300px;
}
.book-card h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.book-card p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.book-card span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
} */

/* new book form

 label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}
*/
